/* app css stylesheet */
.body {
    margin-left: 5%;
}

.note {
    background-color: #dcf7d5;
    padding: 5px;
    width: 40%;
    border: 1px solid black;
    margin: 10px;
}

.btn {
    background-color: #c1e2b3;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li + li:before {
    content: "|";
    padding-right: 0.3em;
}

.panel-body {
    margin-top: 70px;
}

.title{
    color: #5bc0de;
}

.inline-block{
    display: inline-block;
}